h1 {
    font-size: 1.9rem;
    color: burlywood;
    margin-top: 20px;
    margin-bottom: 20px;
}

.personaje img {
    float: left;
    margin-right: 20px;
    max-width: 100%;
    height: auto;
}

.personaje {
    justify-content: center;
    font-size: 1.4rem;
    display: flex-start;
    align-items: center;
}

section {
    background-image: url(../Escenas/mapafondo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
}

form {
    flex: 1;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.8);
    max-width: 40%;
    margin: 20vh 0 0 15px; /* Ajusta el valor del margen izquierdo (10px) según tus necesidades */
    padding-top: 1%;
    padding-bottom: 3%;
    position: relative;
    top: -15px; /* Ajusta el valor del desplazamiento vertical según tus necesidades */
    left: 14%;
}



/* Estilos para el formulario y otros elementos dentro del formulario (labels, inputs, textarea, etc.) */
form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #000;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #000;
    border-radius: 5px;
    font-family: 'Megrim', sans-serif;
    font-size: 1vw;
    color: #000;
    background-color: transparent;
}

form textarea {
    height: 100px;
    background-color: transparent;
}

form input[type="submit"] {
    background-color: transparent;
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1vw;
    cursor: pointer;
}

/* Estilos para pantallas de hasta 480px de ancho */
@media (max-width: 480px) {
    form {
        width: 90%; 
        margin: 20% 0 0 5%; 
        padding-top: 0;
        padding-bottom: 5%;
        left: 10px;

    }

    form label {
        font-size: 1.2rem; 
    }

    form input[type="text"],
    form input[type="email"],
    form textarea {
        font-size: 1rem;
    }

    form input[type="submit"] {
        font-size: 1rem; 
    }


