
h1{

    font-size: 1.9rem;
    color: burlywood;
    margin-top: 20px;
    margin-bottom: 20px;
} 

.personaje img {
    float: left;
    margin-right: 20px;
    max-width: 100%;
    height: auto;
}

.personaje {
    justify-content: center;
    font-size: 1.4rem;
    display: flex-start;
    align-items: center;
}


