
.principal {
    width: 100%;
    height: 650px;
    background-image: url(../PersonajesAvatar/Galeria.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex-start;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}
.principal div img {
    width: 40%;
}
.principal div h1 {
    visibility: hidden;
}

.principal div h2 {
    visibility: hidden;
}

.secundario {
    margin-top: 5%;
    display: flex;
}
.secundario div {
    width: 33%;
    padding: 2%;
    text-align: center;
}
.secundario div a img {
    width: 90%;
    margin-bottom: 2rem;
    max-width: 300px;
    max-height: 210px;
}

@media (max-width: 480px) {
    header {
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        background-color: #burlywood;
        position: sticky;
        top: 0;
        z-index: 1;
    }
    header div,
    header a {
        flex: 1 0 50%;
    }
    header nav {
        flex-basis: 100%;
    }
    .icon {
        display: block;
        padding-right: 0.6rem;
        text-align: right;
    }

    section {
        max-width: 480px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .principal {
        height: 250px;
        padding: 10%;
    }
    .principal div {
        margin-top: 20%;
    }





