
.principal {
    width: 100%;
    height: 650px;
    background-image: url(../PersonajesAvatar/Galeria.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex-start;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}
.principal div img {
    width: 40%;
}
.principal div h1 {
    visibility: hidden;
}

.principal div h2 {
    visibility: hidden;
}

.secundario {
    margin-top: 5%;
    display: flex;
}
.secundario div {
    width: 33%;
    padding: 2%;
    text-align: center;
}
.secundario div a img {
    width: 90%;
    margin-bottom: 2rem;
    max-width: 300px;
    max-height: 210px;
}

.Personajes-content {
    display: none;
    position: absolute;
    top: 10%;
    left: 0;
    background-color: beige;
    border: 1px solid #ccc;
    min-width: 120px;
}
.Personajes-container {
    display: inline-block;
    cursor: pointer;
    border: black;
}
.Personajes-content li a {
    display: block;
    cursor: pointer;
    margin-bottom: -10%;
}

@media (max-width: 480px) {
    header {
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        background-color: #burlywood;
        position: sticky;
        top: 0;
        z-index: 1;
    }
    header div,
    header a {
        flex: 1 0 50%;
    }
    header nav {
        flex-basis: 100%;
    }
    .icon {
        display: block;
        padding-right: 0.6rem;
        text-align: right;
    }

    nav.responsive ul {
        display: block;
    }
    nav.responsive ul li {
        display: block;
        text-align: center;
        padding: 0.5rem;
    }
    nav.responsive ul li a {
        padding-right: 0;
    }
    section {
        max-width: 480px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .principal {
        height: 250px;
        padding: 10%;
    }
    .principal div {
        margin-top: 20%;
    }

    .secundario {
        margin-top: 1%;
        display: block;
    }
    .secundario div {
        margin-right: auto;
        margin-left: auto;
        width: 80%;
    }
    .secundario div a img {
        margin-bottom: 1rem;
    }

    h2 {
        font-size: 1rem;
    }
    h4 {
        font-size: 1rem;
    }
    footer {
        height: 80px;
        justify-content: space-evenly;
        background-color: burlywood;

    }
    footer img {
        max-width: 3rem;
    }


