* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


body.lb-disable-scrolling {
    overflow: hidden;
}

.lightboxOverlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: black;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8;
    display: none;
}

.lightbox {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 10000;
    text-align: center;
    line-height: 0;
    font-weight: normal;
    outline: none;
}

.lightbox .lb-image {
    display: flex;
    width: 85%;
    height: auto;
    max-width: inherit;
    max-height: none;
    border-radius: 3px;

    /* Image border */
    border: 4px solid white;
}

.secundario {
    flex-wrap: wrap;
    justify-content: center;
}

a img {
    margin-right: 2em;
}

.lightbox a img {
    border: none;
    margin-right: 2em;
}

.lb-outerContainer {
    position: relative;
    zoom: 1;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border-radius: 4px;

    
    background-color: white;
}

.lb-outerContainer:after {
    content: "";
    display: inline-block;
    clear: both;
    flex-wrap: wrap;
}

.lb-loader {
    position: absolute;
    top: 43%;
    left: 0;
    height: 25%;
    width: 100%;
    text-align: center;
    line-height: 0;
}

.lb-cancel {
    display: block;
    width: 32px;
    height: 32px;
    margin: 0 auto;
    background: url(../images/loading.gif) no-repeat;
}

.lb-nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
}

.principal div h1 {
    visibility: hidden;
}

.lb-container > .nav {
    left: 0;
}

.lb-nav a {
    outline: none;
    background-image: url("data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==");
}

.lb-prev,
.lb-next {
    height: 100%;
    cursor: pointer;
    display: block;
}

.lb-nav a.lb-prev {
    width: 34%;
    left: 0;
    float: left;
    background: url(../images/prev.png) left 48% no-repeat;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    -o-transition: opacity 0.6s;
    transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

.lb-nav a.lb-next {
    width: 64%;
    right: 0;
    float: right;
    background: url(../images/next.png) right 48% no-repeat;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    -o-transition: opacity 0.6s;
    transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

.lb-dataContainer {
    margin: 0 auto;
    padding-top: 5px;
    zoom: 1;
    width: 100%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
    content: "";
    display: table;
    clear: both;
}

.lb-data {
    padding: 0 4px;
    color: #ccc;
}

.lb-data .lb-details {
    width: 85%;
    float: left;
    text-align: left;
    line-height: 1.1em;
}

.lb-data .lb-caption {
    font-size: 13px;
    font-weight: bold;
    line-height: 1em;
}

.lb-data .lb-caption a {
    color: #4ae;
}

.lb-data .lb-number {
    display: block;
    clear: left;
    padding-bottom: 1em;
    font-size: 12px;
    color: #999999;
}

.lb-data .lb-close {
    display: block;
    float: right;
    width: 30px;
    height: 30px;
    background: url(../images/close.png) top right no-repeat;
    text-align: right;
    outline: none;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
    cursor: pointer;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}


body {
    font-family: "Rubik", sans-serif;
    background-color: beige;
    border: 25px solid burlywood;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-bottom: 2%;
}

header {
    padding-top: 2%;
    padding-right: 7%;
    padding-bottom: 2%;
    padding-left: 7%;
    display: flex;
    justify-content: space-between;
    background-color: burlywood;

}

.icon {
    display: none;
}

section {
    max-width: 1500px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

nav ul {
    display: inline-block;
    margin-top: 3%;
}

nav ul li {
    display: inline-block; 
       z-index: 0;
}
nav ul li a {
    font-size: 1.2rem;
    padding-right: 2rem;
    text-transform: uppercase;

}
nav ul li a:hover {
    text-decoration: underline;
    font-weight: 800;
}
a {
    text-decoration: none;
    color: #000000;
}

h4 {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-left: -35px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    background-color: burlywood;
    padding: 0.5%;
    text-align: center;
    position: relative;
}

footer h5 {
    font-size: 0.68rem;
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 0;
}

footer a {
    display: inline-block;
    margin-left: 10px;
}

footer a img {
    width: 45px;
    height: 45px;
    margin: 0 10px; 
}


after-footer {
    background-color: burlywood; 
}



.menu {
    list-style: none;
    padding: 0;
}
.menu li {
    display: inline;
    margin-right: 20px;
    position: relative;
    z-index: 1;
}
.menu a {
    text-decoration: none;
}
.Personajes {
    position: relative;
}
.personaje p {
    font-size: 1.095rem;
}

.Personajes-container {
    display: inline-block;
    cursor: pointer;
    border: black;
    z-index: 1;
}
.Personajes-content li a {
    display: block;
    cursor: pointer;
    margin-bottom: -10%;
}

.arrow {
    display: inline-block;
    margin-left: -25px;
    margin-top: -5px;
}
.Personajes-content {
    display: none; 
    position: absolute;
    top: 100%;
    left: 0;
    background-color: beige;
    border: 1px solid #ccc;
    min-width: 120px;
    z-index: 2; 
}



/* Respo*/
@media (max-width: 480px) {
    header {
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        background-color: burlywood;
        position: sticky;
        top: 0;
        z-index: 1;
    }
    header div,
    header a {
        flex: 1 0 50%;
    }
    header nav {
        flex-basis: 100%;
    }
    .icon {
        display: block;
        padding-right: 0.6rem;
        text-align: right;
    }

    nav.responsive ul {
        display: block;
    }
    nav.responsive ul li {
        display: block;
        text-align: center;
        padding: 0.5rem;
    }
    nav.responsive ul li a {
        padding-right: 0;
    }
    section {
        max-width: 480px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .principal {
        height: 250px;
        padding: 10%;

    }
    .principal div {
        margin-top: 20%;
    }

    .secundario {
        margin-top: 1%;
        display: block;
    }
    .secundario div {
        margin-right: auto;
        margin-left: auto;
        width: 80%;
    }
    .secundario div a img {
        margin-bottom: 1rem;
    }

    h1 {
    font-size: 1.9rem;
    }
    h2 {
        font-size: 1rem;
    }
    h4 {
        font-size: 1rem;
    }
    footer {
        height: 80px;
        justify-content: space-evenly;
        background-color: burlywood;

    }
    footer img {
        max-width: 3rem;
    }

footer h5 {
    font-size: 0.4rem;
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 0;
}


.article-left {
        border: 0.2vw solid #B8B296ff; 
        border-radius: 10px; 
        padding: 2%; 
        margin: 2%; 
        display: flex; 
        align-items: center; 
        width: 80%; 
        margin: 0 auto; 
        height: auto;
        background-color:beige;
    }

    .article-left img {
        width: 100%; 
        margin-right: 0%;
    }

    .article-left p{
        font-size: 2.5vw;
        margin-bottom: 2%;
        margin-left: 2%;
    }
    .article-left h3{
        font-size: 2.5vw;
        margin-bottom: 2%;
        margin-left: 2%;
    }
    
    .text-container {
        width: 200%; 
        margin-left: 10%;
        margin-right: 10%;
    }
    section h1{
    margin-bottom: 2%;
    margin-top: 3%;
    font-size: 3.4vw;
    margin: 2%;
    color: burlywood;
}

.footer + .after-footer {
    background-color: burlywood; 
}


#menu_bar.responsive {
    display: none;
    flex-direction: column; 
}



#menu_bar {
    display: none; 

}

#menu_bar.responsive {
    display: flex; 
    flex-direction: column; 
    max-height: initial;
}

.menu {
    list-style: none;
    padding: 0;
}

.menu li {
    display: block;
    margin-bottom: 10px;
    position: relative;
    z-index: 1;
}

.menu a {
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.Personajes {
    position: relative;
}

.Personajes-container {
    display: block;
    cursor: pointer;
    border: black;
    z-index: 1;
}

.Personajes-content {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    background-color: beige;
    border: 1px solid #ccc;
    min-width: 120px;
    z-index: 2; /* Asegura que aparezca por encima del contenido principal */
}
.personaje h1{
    font-size: 2rem;
}